<a href="https://colab.research.google.com/github/ngoclesydney/Google-Colab/blob/master/Machine_Learning_Python_with_Mosh_5th_hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning in Python**
Steps to do:
> Step 1: import the data

> Step 2: clean the data

> Step 3: split the data into Training/Test sets

> Step 4: creat a Model or algorithm

> Step 5: train the model

> Step 6: make the predictions

> Step 7: evaluate and improve

## **Libraries and tools**
Numpy

Pandas

MatPlotLib

Scikit-Learn
## **Installing Jupyter from Annaconda**
## **Step 1 (import data)**

Create the account
```
www.kaggle.com
```
Search: video game sales to find the csv file.

Download the csv file at https://www.kaggle.com/gregorut/videogamesales/data

For colab we can upload to current directory. For python or pycharm, we can copy and paste to the directory containing the project folder.

Then we can read the data by using Pandas library

In [1]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
df

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [2]:
# Working with data frame of pandas library
# shape: dimensions
df.shape

(16598, 11)

In [3]:
# Describe of the segment including indicator like count, mean, std, min, max
df.describe()
# some do not have enough data like year
# some is not significant like mean of year

               Rank          Year  ...   Other_Sales  Global_Sales
count  16598.000000  16327.000000  ...  16598.000000  16598.000000
mean    8300.605254   2006.406443  ...      0.048063      0.537441
std     4791.853933      5.828981  ...      0.188588      1.555028
min        1.000000   1980.000000  ...      0.000000      0.010000
25%     4151.250000   2003.000000  ...      0.000000      0.060000
50%     8300.500000   2007.000000  ...      0.010000      0.170000
75%    12449.750000   2010.000000  ...      0.040000      0.470000
max    16600.000000   2020.000000  ...     10.570000     82.740000

[8 rows x 7 columns]

In [5]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

## Jupyter shortcut
Ctrl+M+B: create new code cell below

Ctrl+M+A: create new cell above

Shif+tab/space: to see all functions of the object

Ctrl+H: to replace the variables

Ctrl+slash key /: Comment the code line, one more time the uncomment

Ctrl+M+D: delete the cell code or text

In [0]:
# sfdf ctrl+/ key then comment this code line

# A Real Problem
Predict the trend of the music

from https://github.com/VasuGoel/music-recommender/blob/master/dataset/music.csv

Click raw then save to your drive or anywhere you want. Or you can read data from git.

Now we are working with machine learning with very simple sample that Mosh did it.

We have dataset is music.csv including age, gender, and genre. It shows which gender at which age will have genre (HipHop, Jazz, Classical...)

The purpose is to train model with this dataset to predict which genre when we have input (age, gender)

In [3]:
# Step 1: import data.
# In this colab, I download the music to current folder
import pandas as pd
music_data = pd.read_csv('music.csv')
music_data
# We can see men from 20 to 25 like hiphop
# Girl from 20 to 25 like dance

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [4]:
# Step 2: cleaning the data
# We will split the dataset into two datasets
# Input set is firt two columns (X)
# Output is the third column (y) containing predictions
# We wonder if men 21 years old the what is the predictions
# We use function drop to split data.
# In this case, we have X is input and we remove genre from the dataset
X = music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [5]:
# y dataset is the predictions
# We want to use only column genre, then we use list for that
# We have only predictions or the answer for training model later
y = music_data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [8]:
# Step 3: create the model
# There are many algorithms to deal with different problems
# in this case, we use decision tree in ScikitLearn library
# in the sklearn library, we have the module tree,
# in the module, we have class DecisionTreeClassifier
# This class is exactly to implement the decision tree algorithm
from sklearn.tree import DecisionTreeClassifier

# Create the model
model = DecisionTreeClassifier()
# we lack step 4 split data to train and test
# we will do later

# Step 5: training model

# We train the model by using function fit
model.fit(X, y)

# Step 6: predictions
# We predict some input value, we use function predict with input array
# We predict two inputs: the first is the 21 year-old men, 
# the second is 22 year-old women
# what do they like, we find the predictions
predictions = model.predict([ [21, 1], [22, 0] ])
predictions
# we will see the result is HipHop for the men and Dance for the women

array(['HipHop', 'Dance'], dtype=object)

In [18]:
# Step 7: evaluate and improve
# measure acuracy of the model
# to do this, we need to compare the training data and testing data
# normally, the training dataset account for 70% or 80% of the data
# it is better when we choose the random data in the training and testing
# first, we want to split the data by using sklearn
from sklearn.model_selection import train_test_split
# measure acuracy
from sklearn.metrics import accuracy_score

# Step 3: split data to train and test
# Unpack 4 variables including X_train, X_test, y_train, and y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

# we train again
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
# now we measure the acuracy by comparing predictions with y_test
# back to import we need the class metrics in sklearn using function accuracy
# now we using this function with two parameters is y_test and predictions
score = accuracy_score(y_test, predictions)
score
# the score may change each run because they use random index to put in the 
# training dataset
# if we change the ratio of data train, we will have various results

1.0

## Persiting Model
We need to re-use the training process that we can use later.
The reason simply is the time consuming. Because several models we need days to train the model.

In [21]:
# How to store the train model in the file
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals import joblib

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns=['genre'])
y = music_data['genre']

model = DecisionTreeClassifier()
model.fit(X, y)

joblib.dump(model, 'music-recommender.joblib')
# Then check in the current directory (content) we can see the music-recommender.joblib

['music-recommender.joblib']

In [20]:
# There is something wrong in the joblib library so I can install to upgrade the version for joblib then run the code above again
pip install joblib

Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (0.14.1)

In [22]:
# Now we can re-use from the joblib file
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals import joblib

# music_data = pd.read_csv('music.csv')
# X = music_data.drop(columns=['genre'])
# y = music_data['genre']

# model = DecisionTreeClassifier()
# model.fit(X, y)

model = joblib.load('music-recommender.joblib')
predictions = model.predict([ [21, 1], [22, 0] ])
predictions

array(['HipHop', 'Dance'], dtype=object)

## Visualising a Decision Tree

In [0]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
# we use tree to do visualise the graph
from sklearn import tree

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns=['genre'])
y = music_data['genre']

model = DecisionTreeClassifier()
model.fit(X, y)

tree.export_graphviz(model, out_file='music-recommender.dot',
                     feature_names=['age', 'gender'],
                     class_names=sorted(y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)
# run this then check we will have the music-recommender.dot

### Run the .dot file
After download the file or we can open the file. Then copy the code then paste on https://dreampuf.github.io/GraphvizOnline/. we will see the visualising graph of the decision tree.

This can render to .svg file that we can use browser chrome of explorer to read the file.